from aoc.puzzle import Part{{part}}

class AocPuzzle(Part{{part}}):
    def solve(self, input_str: str):
       pass

if __name__ == '__main__':
    puzzle = AocPuzzle({{year}}, {{day}})

    example_input = '''TODO'''

    assert True == puzzle.solve(example_input)

    # answer = puzzle.solve(puzzle.input())
    # print(f'answer: {answer}')
    # assert None == answer
